* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(150, 215, 253);
    --secondary-color: rgb(215, 230, 250);
    --primary-text-color: #0e0e0e;
    --accent-color: #5f50a9;
    --accent-color-light: #8b83ae;
    --background-color: #f2f2f2;
}

.dark {
    --primary-color: rgb(40, 40, 40);
    --secondary-color: rgb(60, 60, 60);
    --primary-text-color: rgb(234, 234, 234);
    --background-color: rgb(60, 60, 60);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
}

.container {
    height: 100%;
    padding: 120px;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    overflow: hidden;
}

nav {
    height: 64px;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0px 0px 20px 20px;
}

.main-nav {
    padding-block: 4px;
    background: linear-gradient(to right, var(--accent-color), var(--accent-color-light));
    border-radius: 0px 0px 20px 20px;
}

.nav-links ul {
    gap: 16px;
}

.nav-links ul li a {
    color: var(--primary-text-color);
    font-size: 18px;
}
.nav-links ul li a:hover {
    color: var(--background-color);
}

.header-img {
    width: 60px;
    height: 56px;
    cursor: pointer;
}

.container-1 {
    width: 400px;
}

.portfolio-card {
    margin: 20px;
    color: var(--primary-text-color);
    background: var(--primary-color);
    width: 80%;
    min-width: 340px;
    padding: 20px 40px;
    padding-bottom: 45px;
    border-radius: 12px;
    transition: ease .40s;
}

.portfolio-card-designer {
    color: var(--primary-text-color);
    background: var(--accent-color);
}

.portfolio-card-designer:hover {
    box-shadow: 18px 18px 87px 0px rgb(10 15 70 / 20%);
    transform: perspective(1000px) rotateX(20.0deg) rotateY(0.0deg) scale3d(1.05, 1.05, 1.05);
}

.quoter {
    font-style: italic;
    font-size: 22px;
    float: right;
}

.portfolio-card-skills {
    margin: 10px;
    min-height: 300px;
    min-width: 360px;
    padding: 10px 20px;
}

.card-heading {
    font-size: 30px;
    margin-block: 10px;
}

.card-subheading {
    font-size: 22px;
}

.tab-titles {
    display: flex;
    margin: 10px 0 25px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 6px;
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 75%;
}

.tab-contents ul li {
    margin: 10px 0;
    font-size: 16px;
}

.tab-contents ul li span {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.project-link {
    width: 16px;
    margin-inline: 8px;
}
.project-link:hover {
    width: 16px;
    filter: invert();
}

.gallery {
    flex-basis: 50%;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
}

.box {
    display: flex;
    background-size: cover;
    background-position: top;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 0.75s ease-in-out;
}
.box:hover {
    color: black;
    background-color: #999;
    background-position: center;
    box-shadow: 0 0 4px #fff;
}

.col-2 {
    grid-column: span 2;
}

.row-2 {
    grid-row: span 2;
}

footer {
    height: 20vh;
    bottom: 0;
    background-color: #222;
}

.footer-container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
}

.footer-bio {
    align-items: center;
    gap: 16px;
}

.resume {
    background: none;
    font-weight: bold;
    padding: 10px;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
}
.resume:hover {
    color: black;
    background-color: var(--accent-color);
}

.footer-icons {
    color: white;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.social-icon {
    width: 36px;
    filter: invert();
    cursor: pointer;
}
.social-icon:hover {
    width: 46px;
    fill: blue;
}


@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        padding: 8px;
    }

    .portfolio-card {
        padding: 14px;
    }

    .portfolio-card-designer {
        margin-top: 60px;
        padding-bottom: 45px;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .box-box {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .box-code {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .box-live {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .box-lift {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .box-understand {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .box-grapple {
        grid-column-start: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .box-rest {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .main-nav {
        flex-direction: row;
    }

    footer {
        height: 10vh;
    }

    .footer-container {
        padding-inline: 14px;
    }

    .footer-bio {
        align-items: center;
        gap: 10px;
    }

    .footer-icons {
        color: white;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .social-icon {
        width: 26px;
    }
    .social-icon:hover {
        width: 30px;
    }
}


@media screen and (max-width: 400px) {
    .header-img {
        width: 50px;
        height: 46px;
        cursor: pointer;
    }

    .container-1 {
        width: 390px;
    }

    .container-2 {
        width: 370px;
        
    }

    .portfolio-card-designer {
        margin-top: 64px;
        padding: 10px 20px;
        padding-bottom: 40px;
    }

    .portfolio-card {
        height: 80%;
        min-width: 350px;
    }

    .portfolio-card-skills {
        min-height: 320px;
        min-width: 350px;
        margin-top: 0;
        margin-bottom: 10;
    }
}